<div class="container">
  <div class="row">
    <div class="col-12 text-right mb-5">
      <span class="since-date">Member since {{user?.created_at | date: 'longDate'}}</span>
    </div>
    <div class="col-12 col-lg-6 d-flex justify-content-start">
      <div mat-icon-button class="profile-image" aria-label="profile"
           [ngStyle]="{background: 'url(' + user?.profile_picture + ')'}">
      </div>
      <h1 class="name">{{user?.name}}</h1>
    </div>

    <div class="col-12 col-lg-6">
      <div class="row">
        <div class="col-4 metrics">
          <span class="value">{{user?.followers}}</span>
          <br>
          <span class="label">followers</span>
        </div>
        <div class="col-4 metrics">
          <span class="value">{{user?.following}}</span>
          <br>
          <span class="label">following</span>
        </div>
        <div class="col-4 metrics">
          <span class="value">{{userPosts.length}}</span>
          <br>
          <span class="label">posts</span>
        </div>
      </div>
    </div>


  </div>
</div>

<app-publish-area [logged_user_id]="logged_user" (reloadPostsEvent)="reloadPosts($event)"></app-publish-area>

<app-post-list-template [posts]="userPosts" id="modal"></app-post-list-template>
