@import "src/styles";

.mat-card {
  background: #FFFFFF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.05) !important;
  border-radius: 4px !important;
  padding: 30px 30px;
}

.profile-name {
  font-size: 25px;
  font-weight: 500;
}

.mat-card-content{
  font-size: 30px;
}

.repost {
  background: $yellow;
  border: 1px solid $yellow;
}

.quote {
  background: $pink;
  border: 1px solid #eceaea;
}

.normal {
  background: white;
  border: 1px solid #eceaea;
}


.repost-text {
  color: unset;
}

.quote-text {
  color:  white;
}

.normal-text {
  color: #000;
}

.post-type {
  font-size: 55%;
  color: #000 !important;
}


.big-quote-sign {
  position: absolute;
  right: 10px;
  font-size: 135px;
  bottom: -10px;
  color: #ffffff33;
}

.following-tag {
  background: white;
}
